body {
    background-color: #f0bf20;
    display: flex; 
    justify-content: center;
}

iframe {
    position: absolute;
    width: 96%;
    height: 98%;
    border: none;
}

div {
    margin-top: .3rem;
    z-index: 1;
}

button{
    border-radius: 5px;
    font-size: small;
    border: none;
    padding: 7px;
    background-color: #f0bf20;
} 